<div [formGroup]="adressForm">
    <div class="form-group">
        <div class="col-sm-3">
            <md-input placeholder="Street #" autocomplete="off" formControlName="nbr">
            </md-input>
            <control-messages [control]="adressForm.controls.nbr"></control-messages>            
        </div>
        <div class="col-sm-3">
            <md-input placeholder="Street Name" autocomplete="off" formControlName="street">
            </md-input>
            <control-messages [control]="adressForm.controls.street"></control-messages> 
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <md-input placeholder="Town / City" autocomplete="off" formControlName="city">
            </md-input>
            <control-messages [control]="adressForm.controls.city"></control-messages> 
        </div>
        <div class="col-sm-2">
            <md-input placeholder="State" autocomplete="off" formControlName="state">
            </md-input>
            <control-messages [control]="adressForm.controls.state"></control-messages> 
        </div>
        <div class="col-sm-1">
            <md-input #postalCode maxLength="5" autocomplete="off" placeholder="Zip" formControlName="zip">
                <md-hint align="end">{{postalCode.characterCount}} / 5</md-hint>
            </md-input>
            <control-messages [control]="adressForm.controls.zip"></control-messages> 
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <md-input class="full-width" autocomplete="off" placeholder="Country" formControlName="country">
            </md-input>
            <control-messages [control]="adressForm.controls.country"></control-messages> 
        </div>
    </div>
</div>
