<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">STC</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/ms/0/0" routerLinkActive="active">Member Services</a></li>
                <li><a routerLink="/bs" routerLinkActive="active">Banking Services</a></li>
                <li><a routerLink="/sn" routerLinkActive="active">Service Network</a></li>
                <li><a routerLink="/tg" routerLinkActive="active">Member Taxonomy Graph</a></li>
                <li><a routerLink="/cf/" routerLinkActive="active">Contact Form</a></li>
                <li><a routerLink="/tg" routerLinkActive="active">About</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
